<div class="bottom_bar">
  <ul>
    <li>
      <a href="#/">
        <i class="fa fa-home"></i>
        <b>Home</b>
      </a>
    </li>
    <li>
      <a href="#/mym2bBasic">
        <i class="fa fa-line-chart"></i>
        <b>My M2b</b>
      </a>
    </li>
    <li>
      <a href="#/chat">
        <i class="fa fa-envelope"></i>
        <b>Messages</b>
        <span>1</span>
      </a>
    </li>
    <li>
      <a href="#/myOrderList">
        <i class="fa fa-truck"></i>
        <b>Order</b>
         <span id="order_number">2</span>
      </a>
    </li>
    <!-- <li>
      <a href="buy-back.html">
        <i class="fa fa-money"></i>
        <b>Buy Back</b>
         <span>1</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-search"></i>
        <b>Search</b>
      </a>
    </li> -->
  </ul>
</div>

